* {
	margin: 0;
	padding: 0;
}
.map { width: 100%;
    height: 450px;
    box-shadow: inset; 
    position: static;
	z-index: 0; 
}
body {
	background: #E9ECF4;
	color: #000;
	font-family: 'Roboto', sans-serif;
	margin:0 auto;
  padding:0;
}

.contenedor {
	width:98%;
	
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 15% 30% 25% 25%;
	grid-template-rows: repeat(4, auto);

	grid-template-areas: "header header header header"
						 "sidebar contenido contenido resultados ";
					
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .resultados{
	background: #fff;
	padding: 20px;
	border-radius: 10px;
}

.contenedor .header {
	background-color: #142F43;
	color: #fff;
	grid-area: header;
	display: inline-block;
}
.contenedor .header > input[type=text]{
	max-width: 300px;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px;
}
.contenedor .header > input[type=button]{
	background-color: #FFAB4C;
	color: #142F43;
	border: none;
	border-radius: 3px;
	padding: 10px;
}
.contenedor .contenido {
	grid-area: contenido;
}

.contenedor .sidebar {
	display: grid;
	grid-column: 1 / 4;
	
	text-align: center;
	
	align-items: center;
	justify-content: center;
	min-height: 100px;
	background-color:  #142F43;
	grid-area: sidebar;
}
.contenedor .sidebar > h3{
	color: #fff;
}
.contenedor .sidebar > input[type=button]{
	background-color: #d7d7d8;
	border: none;
	border-radius: 4px;
	padding: 8px;
}
.contenedor .sidebar > select{
	background-color: #d7d7d8;
	border: none;
	border-radius: 4px;
	padding: 8px;
}
.contenedor .resultados {
	display: grid;
	grid-column: 4 / 4;
	
	text-align: left;
	
	align-items: center;
	justify-content: center;
	min-height: 100px;
	grid-area: resultados;
}

.contenedor .resultados .resultadosContainer {
	height: auto;
	max-height: 300px;
	width: 95%;
	margin: auto;
	padding: 10px;
	overflow: auto; 
}
.contenedor .resultados .resultadosContainer > div {
	
	background: #12203E;
	color: #fff;
	font-size: 12px;
	
	padding: 2px;
	margin: 4px auto 4px;
	bottom: 3px;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	box-shadow: #000;
	display: block;
	align-content: left;
}

.contenedor .resultados .resultadosContainer > div:hover {
	
	background: #5580dd;
	
}
.contenedor .resultados .resultadosContainer > div:active {


}
.contenedor .sidebar > input,
.contenedor .sidebar > select
{
padding: 5px;
width: 100%;

}

.contenedor .header > input

{
	padding: 5px;
	border-radius: 5px;
	
}
.modalContainer {
	display: none; 
	position: fixed; 
			z-index: 1;
			top: 25%;
			left: 30%;

			width: 30%;
			max-width: 200px;
			height: 250px;
	        align-content: center;		 
			border-radius: 5px;
            color: #fff;
			overflow: visible;
			background-color: rgb(0,0,0);
			background-color: rgba(0,0,0,0.4);
}

.modalContainer .modal-content {

width: 100%;

height: 100%;

padding: 6px;
align-items: center;
background: #12203E;
justify-items: center;	
margin: auto;
}
.modalContainer .modal-content > input[type=text]
{
    border-radius: 5px;
	width: 80%;
	max-width: 300px;
	padding: 6px;
	justify-self: center;
	}

	.modalContainer .modal-content >  select

	{

		border-radius: 5px;
		width: 88%;
		max-width: 300px;
		padding: 6px;
		justify-self: center;

	}
	.modalContainer .modal-content > input[type=button]{
		border-radius: 5px;
		width: 80%;
		max-width: 300px;
		padding: 6px;
		justify-self: center;
		}


	input[type=button]:active{
			transform: scale(.9);
			}
			
			
.modalContainer .close {
	color: #aaaaaa;
	float: right;
	padding-top: 0;
	font-size: 28px;
	font-weight: bold;
	overflow: auto; 
}

.modalContainer .close:hover,
.modalContainer .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header header header"
						 
						 "sidebar sidebar sidebar sidebar"
						 "resultados resultados resultados resultados"
						 "contenido contenido contenido contenido"
						;
	}
	.contenedor .sidebar > input,
	.contenedor .sidebar > select
	{
	
	padding: 3px;
	
	
	
	}

}